body {
	font-family: 'Raleway', sans-serif;
	padding: 20px;
}

h1, h2 {
	margin: 0;
}

h1 {
	margin-bottom: 20px;
}

h2 {
	margin-bottom: 10px;
	font-size: 12pt;
}

.panel {
	position: relative;
	border-radius: 5px;
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
}

.panel-data {
	line-height: 1.4;
}

.panel-status {
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
	color: rgba(0, 0, 0, 0.3);
}

.user img {
	float:left;
	width: 33%;
}

.user .panel-data {
	padding-left: 10px;
	margin-left: 33%;
	width: 66%;
}

.controller.heating h2 {
	color: red;
}

.device a:hover {
	text-decoration: none;
}
