{% extends "base.html" %}

{% block main %}
	<h1>Phoebe</h1>
	<div class="users row">
		{% for user in users %}
		<div class="panel user col-sm-4">
			<img src="{{user.picture_url}}" alt="{{user}}" />
			<div class="panel-data">
				<h2>{{user}}</h2>
				{% if user.last_seen %}<div>(last seen {{user.last_seen|timesince}} ago)</div>{% endif %}
			</div>
			<div class="panel-status material-icons">{% if user.is_present %}home{% else %}highlight_off{% endif %}</div>
		</div>
		{% endfor %}
	</div>

	<div class="controllers row">
		{% for controller in controllers %}
		<div class="panel col-sm-4 controller {{controller.status}}{% if controller.is_active %} heating{% endif %}">
			<div class="panel-data col-sm-12">
				<h2>Temperature</h2>
				<div>Current: {{controller.current_temperature}}°</div>
				<div>Target: {{controller.target_temperature}}°</div>
			</div>
			<div class="panel-status material-icons">{% if controller.status == 'home' %}home{% else %}highlight_off{% endif %}</div>
		</div>
		{% endfor %}
	</div>

	<div class="devices row">
		{% for device in devices %}
		<div class="panel device col-sm-4">
			<div class="panel-data">
				<h2>{{device}}</h2>
			</div>
			<div class="panel-status">
				<input 
					type="checkbox" 
					{% if device.is_present %}checked{% endif %} 
					data-url="{% url "api_presence" user_id=user.id %}"
					data-toggle="toggle"
					data-extra="device_id:{{device.id}}" 
					data-on="Home" 
					data-off="Away"
					class="js-api-toggle"
				>
			</div>
		</div>
		{% endfor %}
	</div>

	<div class="switches row">
		{% for switch in switches %}
		<div class="panel switch col-sm-4">
			<div class="panel-data">
				<h2>{{switch}}</h2>
			</div>
			<div class="panel-status">
				<input 
					type="checkbox" 
					{% if switch.is_on %}checked{% endif %} 
					data-url="{% url "api_toggle_switch" user_id=user.id switch_id=switch.id %}"
					data-toggle="toggle"
					data-on="On" 
					data-off="Off"
					class="js-api-toggle"
				>
			</div>
		</div>
		{% endfor %}
	</div>
{% endblock %}
